<h1>Home#index</h1>

<p> <%=@today%> </p>
<p><%=@yesterday%></p>
<p> <%=@time%></p>

<%@photos.each do |photo|%>
  <div class="photo">
    <a href= "<%=photo_path(photo.id)%>"><%=photo.name%></a>
  </div>
<%end%>
